/* --------------------------- CLOCK ------------------------------- */
.clocks .clock {
    position: relative;
    top: 0;
    border-radius: 50%;
    height: 120px;
    padding: 10px 35px;
    overflow: hidden;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .1);
    transition: all .3s ease-in-out;
}
.clocks .clock .time {
    width: 0;
    transition: all 1s ease-in-out;
}
.clocks .clock .icon i{
    transform: scale(2);
    transition: transform 1s ease-in-out;
}
.clocks .time p{
    font-size: 1.5rem;
}
.clocks .clock.show {
    border-radius: 0;
    padding: 5px 15px;
    overflow: visible;
}
.clocks .clock.show .time {
    width: 230px;
}
.clocks .clock.show .icon i{
    transform: scale(1);
}
.clocks .clock.show .time{
    margin-left: 24px;
}
.clocks .clock.show .commands {
    opacity: 0;
    transition: all .7s ease;
}
.clocks .clock.show:hover > .commands {
    opacity: 1;
}
.clocks .clock .fa-stopwatch:hover {
    cursor: pointer;
    filter: drop-shadow(1px 1px 10px rgba(0,0,0,.3));
}
.clocks .clock:hover{
    top: -3px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, .3),
        1px 1px 10px 10px rgba(0, 0, 0, .1),
        1px 1px 30px 25px rgba(0, 0, 0, .1);
}
.clocks .clock.show .fas {
    cursor: pointer;
}
.clocks .clock.show .fa-stop:hover {
    color: rgb(200, 50, 50);
}
.clocks .clock.show .fa-pause:hover {
    color: rgb(180, 180, 0);
}
.clocks .clock.show .fa-plus-square:hover {
    color: rgb(80, 200, 80);
}
.clocks .clock.show .fa-arrow-left:hover {
    color: rgb(80, 80, 200);
}

/* --------------------------- FIELD ------------------------------- */
.home {
    min-height: 90vh;
    padding: 2rem 0 1rem 0;
}
.home .reserves .field {
    width: 350px;
    position: relative;
    background: rgba(0, 0, 0, .3);
    padding: 4rem 5rem 2rem 5rem;
}
.home .reserves .field .title {
    position: absolute;
    top: 0;
    width: 100%;
    height: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--second-color);
    color: var(--third-color);
    font-weight: bold;
    margin-bottom: 1rem;
    transition: all 1s ease;
}
.home .reserves .field .title.full {
    height: calc(100% - 1px);
    transition: all 1s ease;
}
.home .reserves .field:hover > .title.full {
    /* opacity: 0; */
    height: 2.5rem;
}
.home .reserves .field .title .full-title {
    opacity: 0;
    transition: opacity 1.7s ease-in-out;
}
.home .reserves .field .title.full .full-title {
    opacity: 1;
}
.home .reserves .field .row {
    border-bottom: 1px solid var(--first-color);
}
.home .reserves .field .row.text-danger {
    cursor: pointer;
}
.home .reserves .field .row span {
    margin-left: 1rem;
}
.home .reserves .field .row.reserved span {
    -webkit-animation: pulse 2s ease-in;
    -moz-animation: pulse 2s ease-in;
    animation: pulse 2s ease-in;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

/* --------------------------- TOOLTIP ------------------------------- */
.home .mytooltip {
    display: none;
    position: relative;
    min-width: 100%;
}
.home .mytooltip::before {
    content: attr(datatitle);
    position: absolute;
    background-color: var(--third-color);
    padding: 1.5rem;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--first-color);
    min-width: 200px;
    font-weight: lighter;
    text-transform: capitalize;
    box-shadow: 3px 3px 3px 1px rgba(0,0,0,.3);
    z-index: 10;
}
.home .mytooltip::after {
    content: '';
    position: absolute;
    top: -16px;
    left: 75%;
    width: 15px;
    height: 16px;
    background-color: var(--third-color);
    box-shadow: 5px 5px 3px 1px rgba(0,0,0,.3);
    transform: translateX(-50%) rotate(45deg);
    z-index: 11;
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(.9);
        opacity: 0.5;
    }
    25% {
        -webkit-transform: scale(1.25);
        opacity: 0.7;
    }
    50% {
        -webkit-transform: scale(1.5);
        opacity: 1;
    }
    75% {
        -webkit-transform: scale(1.25);
        opacity: 0.7;
    }
    100% {
        -webkit-transform: scale(.9);
        opacity: 0.5;
    }
}

@media(max-width: 1100px){
    .home .reserves .field {
        width: 300px;
    }
}
@media(max-width: 990px){
    .home .reserves .field {
        width: 250px;
    }
}
@media(max-width: 768px){
    .home .reserves {
        min-height: 85vh;
    }
    .home .reserves .field {
        width: 300px;
    }
}
@media(max-width: 540px){
    .clocks .clock.show .time {
        margin-left: 0;
    }

    .home .reserves {
        min-height: 85vh;
    }
    .home .reserves .field {
        width: 400px;
    }
}

