
.fab {
    border-radius: 50%;
    transition: all 0.3s linear;
}
.fab.fa-instagram:hover {
    color: orangered;
    background-color: rgba(0,0,0,0.3);
}
.fab.fa-facebook:hover {
    color: blue;
    background-color: rgba(0,0,0,0.3);
}
.fab.fa-twitter:hover {
    color: cyan;
    background-color: rgba(0,0,0,0.3);
}