.flex-inline {
    display: none;
}
.nav-link {
    color: white;
}
.nav-item {
    margin: 5px 5px;
}
.nav .nav-item:hover {
    background-color: #212121;
    border-radius: 5px;
}
.nav .nav-item:hover .nav-link {
    color: white;
}
.main-nav-active {
    background-color: #212121;
    border-radius: 5px;
}

@media(min-width: 768px){
    #navbarToggleExternalContent {
        display: none;
    }
    .flex-inline {
        display: flex;
        flex-direction: row;
    }
}