.button_menu {
    width: 80px;
    border-radius: 5px;
    text-transform: uppercase;
}

.sidebarcontent {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 300px;
    height: 100vh;
    padding: 20px;
    box-shadow: 5px 5px 5px 3px gray;
    position: absolute;
    top: 49px;
    left: 0;
    transition: all .3s linear;
    z-index: 10;
}

.mainButtons {
    border: none;
    background-color: transparent;
    padding: 10px 0;
    border-radius: 10px;
}

.mainButtons:hover {
    box-shadow: 3px 3px 3px 1px blue;
}

.sidebarButtons p {
    margin: 0;
}

.sidebarButtons p:hover {
    color: black;
}

.sidebarButtons a {
    color: black;
    padding: 15px 60px;
    text-decoration: none;
    border: none
}

.sidebarButtons a:focus {
    width: 0px;
    height: 0px;
    outline: 0px;
}

.subMenu {
    background-color: rgba(0,0,0,.2);
    border-radius: 0 0 10px 10px;
}

.subButtons {
    background-color: transparent;
    border: none;
    padding: 10px 0;
    border-radius: 10px;
    transition: all .9s linear;
}

.subButtons:hover > a{
    color: white;
}

.clicked {
    background-color: rgba(0,0,0,.2);
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid rgba(0,0,0,.6);
    box-shadow: 0 2px 3px 1px black;
}

.unclicked {
    border: none;
    background-color: transparent;
    padding: 10px 0;
    border-radius: 10px;
}

.unclicked:hover {
    color: black;
}

.show {
    display: flex;
}

.hide {
    left: -310px
}