#root {
    margin: 0;
    padding: 0;
    min-height: 100vw;
    overflow: hidden;
}

a {
    text-decoration: none;
}

.rows {
    cursor: pointer;
}

.dark {
    background-color: rgba(0, 0, 0, .7);
}

.ligth {
    background-color: white;
}
@media(max-width: 958px){
    #root {
        min-height: 160vh;
    }
}
@media(max-width: 768px){
    #root {
        min-height: 160vh;
    }
}
@media(max-width: 420px){
    #root {
        min-height: 160vh;
    }
}